* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header{
  background-color: #FF9A4B;
  height:50px;
  margin-bottom: 50px
}
main{
  width:960px;
  display: flex;
  margin:0 auto;
  
}
.intro-box{
  width:300px;
  background-color: #EEEEEE;
  margin:0 30px 0 0;
  position:relative;
}

.intro-box:nth-child(3){
  margin:0;
}

.intro-img{
  height:150px;
  width:280px;
  margin:10px 10px 15px 10px;
  vertical-align: bottom;
}
.intro-title{
  margin-bottom: 5px;
}

.step1{
  position:absolute;
  left:0px;
  background-color: #FF9A4B;
  color:white;
  height:20px;
  width:50px;
}
.step2{
  position:absolute;
  left:0px;
  background-color: #FF9A4B;
  color:white;
  height:20px;
  width:50px;
}
.step3{
  position:absolute;
  left:0px;
  background-color: #FF9A4B;
  color:white;
  height:20px;
  width:50px;
}

footer{
  background-color: #AAAAAA;
  height:50px;
  margin-top: 50px;
}

@media screen and (max-width: 768px){
  header{
    width:100%;
  }
  main{
    display: block;
    width:100%;
  }
  .intro-box{
    width:90%;
    margin: 0 auto ;
    margin-bottom: 20px;
    
    
    
  }
  .intro-box:nth-child(3){
    margin:0 auto;
  }
  .intro-img{
      width:96%;
      height:40%;
      margin:10px 2% 10px 2%;
      display: inline-block;
      text-align: center
    
    
  }
  
}